@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-image: url(img/information_technology_wallpaper-1-c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 115vh;
}

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 20%;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 10px;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%);
    background-color: #1b204e30;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.logo {
    width: 100%;
    padding: 40px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.logo img {
    height: 180px;
}

.logo h1 {
    color: grey;
}

.services {
    color: aliceblue;
    display: flex;
    padding: 25px;

}

ul {
    list-style: none;
    font-weight: 300;

}

ul li {
    padding: 5px 0 5px 0;
}

ul li span {
    color: #8100F8;
    font-weight: 500;
}

.services {
    gap: 10px;
}

.services .celular {
    padding-bottom: 20px;
}

.services p {
    color: #12C2E9;
    font-weight: 700;
}

@media screen and (max-width: 769px) {
    .logo img {
        height: 150px;
    }

    body {
        background-size: auto;
    }

    .services {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 90%;
    }
    .logo {
        padding-top: 20px;
    }
}

@media screen and (max-width: 426px) {
    .logo img {
        height: 90px;
    }
}